/js/background/promise.js
/js/bootstrap.bundle.min.js
/js/crypto-js.min.js
/js/datatables.min.js
/js/jquery.min.js
/js/select2.min.js
/js/sweetalert2.all.min.js
/js/xlsx.js
/css/bootstrap.min.css
/css/datatables.min.css
/css/select2.min.css
/css/sweetalert2.min.css
