const config = {
  sipd_url: window.location.pathname, // URL SIPD-RI
  url_server_lokal: "https://xxxxxxxx.com/wp-admin/admin-ajax.php", // URL Server WordPress WP-SIPD
  api_key: "xxxxxxxxxxxxxxxxxxxx", // informasi pengaktifan lisensi key ada di https://wpsipd.qodrbee.com/
};
